@media (max-width: 768px) {
    .digivolutions{
    content-visibility: hidden;;
  }



  main .content {
    position: absolute;
    top: -150px;
    left: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 90%;
    max-width: 380px;
    font-size: 16px;
    font-family: "Rubik";
    line-height: 20px;
    text-shadow: -1px -1px 1px gainsboro;
  }

.taichi .character-picture{
  position: absolute;
  top: 50px;
  left: 50px;
  height: 80%;

}

.yamato .character-picture{
  position: absolute;
  top: 50px;
  left: 50px;
  height: 80%;

}
.sora .character-picture{
  position: absolute;
  top: 50px;
  left: 50px;
  height: 80%;

}
.koshiro .character-picture{
  position: absolute;
  top: 50px;
  left: 50px;
  height: 80%;

}
.mimi .character-picture{
  position: absolute;
  top: 50px;
  left: 50px;
  height: 60%;

}
.jyo .character-picture{
  position: absolute;
  top: 150px;
  left: 50px;
  height: 60%;

}
.takeru .character-picture{
  position: absolute;
  top: 50px;
  left: 50px;
  height: 80%;

}
.hikari .character-picture{
  position: absolute;
  top: 50px;
  left: 50px;
  height: 80%;

}

  main .digimon-picture {
    position: absolute;
    top: 400px;
    left: 400px;
    height: 40%;
  }

  main .digimon {
    position: absolute;
    top: 700px;
    left: 120px;
    height: 40%;
    min-width: 600px;
    
    text-shadow: -1px -1px 1px rgb(136, 128, 128);
  }

.digimon-picture-gomamon{
  position: absolute;
  top:500px;
  left: 350px;
  height: 35%;

}



  .choicebuttons{
  
    position: absolute;
    top:10px; 
    left: 0px;
    border: none;
    
   
  }

  .choicebuttons img {
    width: 110px; /* Add a pointer cursor for better UX */
    
  }

  }
